Flask
langchain
langchain-community
langchain-azure-ai
qdrant-client
PyPDF2
Pillow
pytesseract
sentence-transformers
duckduckgo_search
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langgraph>=0.0.20
pandas
unstructured
openpyxl
azure-ai-inference