Flask
langchain
langchain-community
langchain_huggingface
qdrant-client
PyPDF2
Pillow
sentence-transformers
duckduckgo_search
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langgraph>=0.0.20
pandas
openpyxl
flask_cors
humanize
structlog
python-dotenv
requests
openai
unstructured
pytesseract
